.button {
  background-color: #3cb769;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  color: #fff;
  padding: 1rem 4rem;
  box-sizing: border-box;
  transition: 0.1s;
  font-family: var(--font-regular);
}
